

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto');


body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}
hr{
    margin-left: 41%;
    margin-right: 41%;
}
html {
  width: 100%;
  height: 100%;
}
h1{
  font-family:"Raleway", "Montserrat", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Raleway","Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: red;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Raleway","Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1f0035;
  border-bottom: 1px solid #430035;
  font-weight: 600;
}
.navbar-nav{
  font-weight: 500;
  font-size: 15px;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: #430035
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #1f0035;
    border-bottom: 1px solid #430035
  }
}
#copyright{
    font-size: 13px;
}
.logo{
  margin:auto;
  text-align: center;
  display: block;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/lights.jpg);
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.shadow-header {
  color: white;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
}

/*Mobile*/
@media (max-width: 768px) {

    .projets{
      margin-bottom: 4px;
    }

    a.navbar-brand.page-scroll{
        margin-top: 3px;
    }

    .mobile-margin{
        margin-top: 40px;
    }

  .shadow-header{

    text-shadow:
            2px 2px 0px darkgrey,
            4px 4px 0px rgba(255, 255, 255, 0.2);
    font-size: 125%;
  }

  @media (max-width: 350px) {
    .brand-logo{
      display: none;
    }
  }

}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body {
  font-size: 40px;
  font-weight:500;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

/*desktop*/
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body {
    font-size: 100px;
  }

    .intro .intro-body .intro-text {
    font-size: 26px;
  }

  .shadow-header{

    text-shadow:
            4px 4px 0px darkgrey,
            7px 7px 0px rgba(255, 255, 255, 0.2);
    font-size: 100%;
  }


}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid transparent;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/band-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.btn-default {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid white;
  outline: none;
  color: black;
  background-color: white;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.portfolio-item
{
  margin-bottom: 8px;
}

.status
{
  margin-top:5px;
  font-size: 17px;
  font-family: "Raleway", 'Roboto', arial, sans-serif;
  margin-bottom: 12px;
}

.active
{
  color: lime;
}

.inactive
{
  color: red;
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}

.parent .popup {
  display: none;
}

.parent:hover .popup {
  display: block;
}
.description{
    margin-top: 5px;
    font-size: 17px;
}
.bordered{
    border: 1px solid #ffffff;
    border-radius: 3px;
}


.img-center {
  margin: 0 auto;
  margin-bottom: 25px;
}

#no-margin{
  margin-bottom: 0;
}

.lessPadding{
  padding-top: 50px;
}

.fullHeight{
  height: 100%;
}

/************ Github section  ****************/

#github-projects{
    display: none;
    margin-top: 20px;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

#github-projects::before{
    content: '';
    width: 60px;
    height: 60px;
    background-color: #222;
    transform: rotate(45deg);
    position: absolute;
    left:47.5%;
    top:-10px;
}

.git{
    background: #111 !important;
    border: black;
    color: #fefefe;

    text-align: left;
    padding-left: 25px;

}
.git a{
    color: #fefefe;
}
.git a:hover{
    color: rgb(3, 102, 214);;
}

.git .title {
    font-size: 20px;
    line-height: 25px;
    word-wrap: break-word;
    text-transform:none;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 6px
    }
.git p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    margin-top: 0px;
    word-wrap: break-word;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.git table td {
    padding-right: 20px;
    font-size: 13px;
    color: color: #bbb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#seeAll{
    font-size: 20px;
}

#seeAll:hover{
    color: #ccc;
}
