

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i|Oswald:300,400,500,600,700|Source+Code+Pro');

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
}

hr{
    margin-left: 41%;
    margin-right: 41%;
}
html {
  width: 100%;
  height: 100%;
}
h1{
  font-family:"Oswald", "Montserrat", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6
{
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Oswald","Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:500;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.6;
  }
}

.alert{
  font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: red;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #157ffb;
  border-bottom: 1px solid #20bcfc;
  font-weight: 600;
}
.navbar-nav{
  font-weight: 500;
  font-size: 15px;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: #20bcfc
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #157ffb;
    border-bottom: 1px solid #20bcfc
  }
}
#copyright{
    font-size: 13px;
}
.logo{
  margin:auto;
  text-align: center;
  display: block;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  /* background: url(../img/pattern.svg);*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.shadow-header {
  color: white;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
  background: black;
  box-shadow: 0 0 20px 20px black;
  width: fit-content;
  margin: 50px auto;
  font-family: "Montserrat";
  font-weight: 300;
}

.code{
  font-family: 'Source Code Pro', 'Consolas', 'Roboto Mono', 'Menlo', 'Monaco',monospace;
}

/*Mobile*/
@media (max-width: 768px) {

    .projets{
      margin-bottom: 4px;
    }

    a.navbar-brand.page-scroll{
        margin-top: 3px;
    }

    .mobile-margin{
        margin-top: 40px;
    }

  .shadow-header{

    text-shadow:
            2px 2px 0px darkgrey,
            4px 4px 0px rgba(255, 255, 255, 0.2);
    font-size: 120%;
  }

  @media (max-width: 350px) {
    .brand-logo{
      display: none;
    }
  }

}

/* Even smaller devices */
@media (max-width: 375px) {
  .shadow-header{
    text-shadow:
            1px 1px 0px darkgrey,
            2px 2px 0px rgba(255, 255, 255, 0.2);
    font-size: 90%;
  }
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body {
  font-size: 40px;
  font-weight:500;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

/*desktop*/
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body {
    font-size: 100px;
  }

    .intro .intro-body .intro-text {
    font-size: 26px;
  }

  .shadow-header{

    text-shadow:
            3px 3px 0px darkgrey,
            6px 6px 0px rgba(255, 255, 255, 0.2);
    font-size: 80%;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid transparent;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/band-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#contact h2 {
  margin-top: 30px;
}

#contact p, #contact h2, label{
  text-shadow: 2px 2px 2px black;
}


@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.btn-default {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid white;
  outline: none;
  color: black;
  background-color: white;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.portfolio-item
{
  margin-bottom: 8px;
}


/*B&W*/
.bw, .bgimg{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.bgimg:hover .bw {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.5;
}


.bgimg{
  border-radius: 3px;
  background: rgba(0,0,0,0);
}

.bgimg:hover{
  background: rgba(0, 183, 255, 1);
}

.description{
    margin-top: 8px;
    font-size: 16px;
}
.bordered{
    border: 1px solid #ffffff;
    border-radius: 3px;
}


.img-center {
  margin: 0 auto;
  margin-bottom: 25px;
}

#no-margin{
  margin-bottom: 0;
}

.lessPadding{
  padding-top: 50px;
}

.fullHeight{
  height: 100%;
}

/************ Github section  ****************/


#seeAll {
    background-color: #940722;
    border: none;
    box-shadow: 0 3px 0 0 #670422;
    margin-bottom: 20px;
}

#seeAll:active {
    background: #bd0024;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}


#seeAll:hover{
    background-color: #bd0024;
}

#github-projects{
    display: none;
    margin-top: 20px;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

#arrow{
    content: '';
    width: 60px;
    height: 60px;
    background-color: #222;

    position: absolute;
    top:-10px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);

    display: none;
}

.git{
    background: #111 !important;
    border: black;
    color: #fefefe;

    text-align: left;
    padding-left: 25px;

}
.git a{
    color: #fefefe;
}
.git a:hover{
    color: rgb(3, 102, 214);;
}

.git .title {
    font-size: 20px;
    line-height: 25px;
    word-wrap: break-word;
    text-transform:none;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 6px
    }
.git p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    margin-top: 0px;
    word-wrap: break-word;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.git table td {
    padding-right: 20px;
    font-size: 13px;
    color: #bbb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*=========== Contact/Footer =============*/
.pattern-background{
    width: 100%;
    padding: 60px 0;
    margin-top: 30px;
    background: url(../img/pattern.svg);
    
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.shadow{
  background-color: black;
  box-shadow: 0 0 6px 6px black;
}

#contact label, #copyright{
  background-color: black;
  box-shadow: 0 0 3px 3px black;
}

/*===== well-dark =====*/

.well.well-dark {
  background-color: #111;
  border: 1px solid black;
}
.well img {
  max-width: 100%;
}


@media (min-width: 767px) {
  #techonologies.content-section {
    padding-top: 80px;
  }
}

/*====  Technologies ======*/

.tech img, .tech .tech-txt{
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.tech:hover img{
  filter: grayscale(100%) brightness(20%);
  -webkit-filter: grayscale(100%) brightness(20%);
}

.tech:hover .tech-txt{
  opacity: 1;
}

.tech-txt {
  color: white !important;
  text-shadow: black 2px 2px 4px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.tech-txt, .tech{
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2); 
}


/* ========  Blink cursor ========= */
.blink_text {
  animation:1s blinker linear infinite;
  -webkit-animation:1s blinker linear infinite;
  -moz-animation:1s blinker linear infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
  }

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
  }

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
  }


/*========= SWAL  =========*/
.swal2-popup {
  background: #0f0f0f !important;
  color: white !important;
  font-size: 1.6rem !important;
}
.swal2-popup .swal2-title {
  color: white !important;
  margin-top:8px !important;
  margin-bottom:20px !important;
  font-family: 'Oswald' !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
}

.swal2-popup .swal2-content{
  color : #dadada !important;
}

#swal2-content{
  margin-bottom: 20px;
}

.swal-styled-btn{
  background-color: #0076fd !important; 
  border: none !important;
  box-shadow: 0 3px 0 0 #013877 !important;
  margin-bottom: 20px !important;
}

.particles-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  }
